/* You can add global styles to this file, and also import other style files */
html,
body,
.container-full-screen {
    height: 100% !important;
    width: 100% !important;
    min-width: 320px !important;
}

img.img-thumbnail {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
}

.text-outline {
    text-shadow: 2px 2px 5px black;
}