<div class="bg-secondary fixed-top p-2 p-sm-4">
    <div class="d-flex align-items-center">
        <div class="mr-2 mr-sm-4">
            <img [src]="imageUrl" class="img-thumbnail">
        </div>
        <div class="text-nowrap mr-auto">
            <h5 class="m-0" [innerHTML]="title"></h5>
            <p class="m-0" [innerHTML]="artist"></p>
            <small class="text-muted" [innerHTML]="genre"></small>
        </div>
        <div>
            <a href="#" class="btn btn-lg btn-dark">
                <i class="fa fa-2x fa-times"></i>
            </a>
        </div>
    </div>
</div>