<div class="h-100">
    <div class="d-flex flex-column h-100">
        <div class="bg-secondary p-2">
            <div class="d-flex align-items-center">
                <div class="mr-2">
                    <img [src]="imageUrl" class="img-thumbnail">
                </div>
                <div class="text-nowrap mr-auto">
                    <h5 class="m-0" [innerHTML]="title"></h5>
                    <p class="m-0" [innerHTML]="artist"></p>
                    <small class="text-muted" [innerHTML]="genre"></small>
                </div>
                <div>
                    <a href="#" class="btn btn-lg btn-dark">
                        <i class="fa fa-2x fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9 mb-auto">
            <video class="embed-responsive-item position-absolute" src="assets/songs/esoesamor/video.mp4"></video>
            <div class="embed-responsive-item position-absolute">
                <div class="d-flex justify-content-around text-outline text-center">
                    <div>
                        <h5>
                            <small class="initialism">Section</small>
                            <br>
                            <span>Verse</span>
                        </h5>
                    </div>
                    <div>
                        <h5>
                            <small class="initialism">Section</small>
                            <br>
                            <span>Verse</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-secondary p-2">
            <div class="d-flex flex-row justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-lg fa-fast-backward"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-lg fa-backward"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-lg fa-play"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-lg fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>